<section class="registration">
  <div class="user container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= flash_type(key) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= value %>
      </div>
    <% end %>
    <div class="row">
      <%= render :partial => "/shared/user_side_menu" %>
      <div class="col-sm-9 content">
        <div class="box">
          <h2>Register Event</h2>
          <%= form_for(@user, :url => { :action => "save_register_event" },
                       html: {  class: "form-horizontal" } ) do |f| %>
            <div class="form-group">
              <div class="col-sm-2">First Name</div>
              <div class="col-sm-10"><%= @user.first_name %></div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">Last Name</div>
              <div class="col-sm-10"><%= @user.last_name %></div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">Email</div>
              <div class="col-sm-10"><%= @user.email %></div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">Country</div>
              <div class="col-sm-10"><%= @user.try(:country).try(:name) %></div>
            </div>
            <% if @country_type != 'indonesia' %>
              <div class="form-group">
                <%= f.label :user_type_id, "User Type *", :class => "col-sm-12 control-label" %>
                <div class="col-sm-12">
                  <% UserType.list_valid_type.each do |user_type| %>
                    <div class="radio">
                      <label>
                        <% checked = @user.user_type.nil? ? UserType.first : @user.user_type %>
                        <%= f.radio_button :user_type_id, user_type.id, :checked => user_type == checked,
                               :onclick => 'update_price();' %>
                        <%= user_type.name %>
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>
              <div id="price">
                <%= render :partial => "update_price", :locals => {:room_types => @room_types} %>
              </div>
              <div class="form-group">
                <%= f.label :payment_type, "Payment Type *", :class => "col-sm-12 control-label" %>
                <div class="col-sm-12">
                  <% checked = @user.payment_type.nil? ? 'paypal' : @user.payment_type %>
                  <div class="radio">
                    <label>
                      <%= f.radio_button :payment_type, "paypal", :checked => "paypal" == checked %> PayPal
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <%= f.radio_button :payment_type, "bank_bca", :checked => "bank_bca" == checked %> Bank BCA
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <%= f.radio_button :payment_type, "on_the_spot", :checked => "on_the_spot" == checked %> On The Spot
                    </label>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="form-group">
                <div class="col-sm-2">Total</div>
                <div class="col-sm-10">
                  <b><%= number_to_currency(@room_types.first.price, unit: "Rp. ") %></b>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :payment_type, "Payment Type *", :class => "col-sm-12 control-label" %>
                <div class="col-sm-12">
                  <div class="radio">
                    <label>
                      <%= f.radio_button :payment_type, "bank_bca", :checked => true %> Bank BCA
                    </label>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.label :note, "Note", :class => "col-sm-12 control-label" %>
              <div class="col-sm-12">
                <%= f.text_area :note, :class => "col-sm-12 control-label" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.submit "Register", :class => "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
