<% content_for :javascript_stylesheet_includes do %>
  <%= javascript_include_tag "bootstrap-datepicker" %>
  <%= stylesheet_link_tag "bootstrap-datepicker" %>
<% end %>

<% if @payment_confirmation.errors.any? %>
  <div class="alert alert-danger alert-dismissable" group="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4><%= pluralize(@payment_confirmation.errors.count, "error") %> prohibited this group from being saved:</h4>
    <ul>
    <% @payment_confirmation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :payment_method, "Payment Method *", :class => "col-sm-12 control-label" %>
  <div class="col-sm-12">
    <div class="radio">
      <label>
        <%= f.radio_button :payment_method, "bank_bca", :checked => true %> Transfer Bank BCA
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :sender_name, "Sender Name *", :class => "col-sm-12 control-label" %>
  <div class="col-sm-12">
    <%= f.text_field :sender_name, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :amount, "Amount *", :class => "col-sm-12 control-label" %>
  <div class="col-sm-12">
    <%= f.text_field :amount, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :payment_date, "Payment Date *", :class => "col-sm-12 control-label" %>
  <div class="col-sm-12">
    <%= f.text_field :payment_date, :class => "form-control payment-date" %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.payment-date').datepicker({
      format: 'yyyy-mm-dd',
        autoclose: true
    })
  });
</script>
