<p class="col-md-10">
  <%= link_to "Add new user", new_admin_user_path %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Active user List", admin_users_path(:type => 'active') %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "inactive user List", admin_users_path(:type => 'inactive') %>
    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "User Room List", admin_user_rooms_path %>
    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Approved User", admin_user_confirmed_users_path %>
    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Export as xls", admin_users_export_as_xls_path(:format => "xls") %>
  <span style="float:right">
  </span>
</p>

<div class="col-xs-10" style="margin:20px 0">
  <%= form_tag admin_search_user_path, :method => :get,  :class => "form-horizontal" do |f|  %>
    <div class="form-group">
      <div class="col-sm-5">
        <%= text_field_tag :search, "",:class => "form-control" %>
      </div>
      <div class="col-sm-7">
        <%= submit_tag "Search", :class => "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>