<div class="col-md-12 content">
  <h2>User Detail</h2>
  <div class="col-md-12">
    <%= form_for([:admin, @user], :url => admin_save_user_confirmed_path,
                       html: {  class: "form-horizontal", :method => :post } ) do |f| %>
      <div class="form-group">
        <div class="col-sm-2"> Image for Ticket</div>
        <div class="col-sm-10">
          <% if @user.ticket.nil? || !@user.ticket.ticket_exist %>
            Not image yet
          <% else %>
            <%= image_tag @user.ticket.filename_url(:medium) %>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">Name</div>
        <div class="col-sm-10"><%= @user.full_name %></div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">Email</div>
        <div class="col-sm-10"><%= @user.email %></div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">User Type</div>
        <div class="col-sm-10"><%= @user.try(:user_type).try(:name) %></div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">Country of Citizenship</div>
        <div class="col-sm-10"><%= @user.try(:country).try(:name) %></div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">Gender</div>
        <div class="col-sm-10"><%= @user.gender %></div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">Age</div>
        <div class="col-sm-10"><%= @user.age %></div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">Passport Number</div>
        <div class="col-sm-10"><%= @user.passport_number %></div>
      </div>
      <% unless @user.try(:country).try(:name).downcase == "indonesia" %>
        <div class="form-group">
          <div class="col-sm-2">Room Type</div>
          <div class="col-sm-10">
            <%= @user.try(:room_type).try(:name) %>
            <% unless @user.roomate.blank? %>
              &nbsp;&nbsp;-&nbsp;&nbsp;Room Mate&nbsp;&nbsp:&nbsp;&nbsp
              <%= @user.roomate %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-sm-2">Fee</div>
        <div class="col-sm-10"><%= @user.price %></div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">Note</div>
        <div class="col-sm-10"><%= @user.note %></div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit "Confirm", :class => "btn btn-success" %>
          <%= link_to "Back", admin_users_path(:type => 'active'), :class => "btn btn-warning" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
