<div class="col-md-12 content">
  <h2>Validate Users</h2>
  <div class="col-md-12">
    <p><%#= raw msg_flash(flash) %></p>
    <%= render :partial => "sub_menu_user" %>

    <div class="col-xs-12" style="margin:20px 0">
      Search :
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th><%= sortable("first_name", "Name", params[:type]) %></th>
          <th><%= sortable("email", "Email", params[:type]) %></th>
          <th>User Type</th>
          <th>Country</th>
          <th>Reg Number</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, x| %>
          <tr>
            <th scope="row"><%= @no+x+1 %></th>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= user.try(:user_type).try(:name) %><%= " - #{user.team_leader.try(:full_name)}" unless user.team_leader.nil?  %></td>
            <td><%= link_to user.try(:country).try(:name), admin_users_by_country_path(user.try(:country).try(:permalink)) %></td>
            <td><%= user.registration_number %></td>
            <td>
              <%= link_to "Edit Accommodation", admin_edit_confirmed_path(user), :class => "btn btn-primary" %>
              <%= link_to "Attended", "#", :class => "btn btn-success" %>
              <%#*<a href="#" onclick="window.print();return false;">print me</a>%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="admin-row">
      <%= paginate @users, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>

    </div>
  </div>
</div>
