<!DOCTYPE html>
<html>
<head>
  <title>Admin Aea</title>
  <%= stylesheet_link_tag    'application', "responsive.css" %>
  <%= javascript_include_tag 'admin' %>
  <!--[if lt IE 9]>
    <script src="/assets/html5shiv.js"></script>
    <script src="/assets/respond.min.js"></script>
  <![endif]-->
  <%= yield :javascript_stylesheet_includes %>
  <%= csrf_meta_tags %>
</head>
<body id="home" class="homepage">
  <header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="col-sm-12 info" style="background-color:#1fb7a6">
        <div class="col-md-6 hidden-xs">&nbsp;</div>
        <div class="col-md-6 hidden-xs" id="login-pan">
          <%= raw welcome_text %>
        </div>
      </div>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to (image_tag "logo.jpg", :alt => "logo"), root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="scroll <%= admin_active_menu('countries') %>">
              <%= link_to "Countries", admin_countries_path  %>
            </li>
            <li class="scroll <%= admin_active_menu('payment_confirmation') %>">
              <%= link_to "Payment Confirmation", admin_payment_confirmations_path  %>
            </li>
            <li class="scroll <%= admin_active_menu('pick_up_schedules') %>">
              <%= link_to "Pick Up Schedule", admin_pick_up_schedules_path  %>
            </li>
            <li class="scroll <%= admin_active_menu('room_types') %>">
              <%= link_to "Room Type", admin_room_types_path  %>
            </li>
            <li class="scroll <%= admin_active_menu('shuttle_buses') %>">
              <%= link_to "Shuttle Buses", admin_shuttle_buses_path  %>
            </li>
            <li class="scroll <%= admin_active_menu('users') %>">
              <%= link_to "User", admin_users_path  %>
            </li>
            <li class="scroll <%= admin_active_menu('user_types') %>">
              <%= link_to "User Type", admin_user_types_path  %>
            </li>
          </ul>
        </div>
      </div><!--/.container-->
    </nav><!--/nav-->
  </header><!--/header-->

  <section>
    <div class="admin container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= flash_type(key) %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </section>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          &copy; 2016 Asia Evangelical Alliance.
        </div>
        <div class="col-sm-6">
          <ul class="social-icons">
            &nbsp;
          </ul>
        </div>
      </div>
    </div>
  </footer><!--/#footer-->
  

</body>
</html>
