<% unless flash[:notice].nil? || flash[:notice].include?("sign up") %>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Notification</h4>
        </div>
        <div class="modal-body">
          <%= flash[:notice] %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<section id="main-slider">
  <div class="owl-carousel">
    <!--<div class="item" style="background-image: url(../assets/AEA_001.jpg);">
      <div class="slider-inner">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="carousel-content">
                <h2><span>Multi</span> is the best Onepage html template</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna incididunt ut labore aliqua. </p>
                <a class="btn btn-primary btn-lg" href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>/.item-->
    <%= link_to raw("<div class='item' style='background-image: url(../assets/AEA_001.jpg);'></div>"), new_user_registration_path %>
    <%= link_to raw("<div class='item' style='background-image: url(../assets/AEA_002.jpg);'></div>"), new_user_registration_path %>
    <%= link_to raw("<div class='item' style='background-image: url(../assets/AEA_003.jpg);'></div>"), new_user_registration_path %>
  </div><!--/.owl-carousel-->
</section><!--/#main-slider-->


<section id="about">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">About Us</h2>
      <p class="text-center wow fadeInDown medium-font">
        Founded in 1983, The Asia Evangelical Alliance (AEA) empowers National Alliances
        to be agents of transformation in Asia, by uniting evangelical churches for dynamic
        action in the areas of mission and Church Planting , Theology and Church Renewal ,
        Religious Liberty, Social Concern, Women's Ministry, Youth Ministry and Leadership
        Development.<br /><br />
        The AEA has a membership of 16 Asian National Alliances and 11 associate members.
      </p>
    </div>
  </div>
</section><!--/#about-->


<section id="statement">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">Statement of Faith</h2>
      <p class="text-center wow fadeInDown medium-font">
        We believe<br /><br/>
        ...in the Holy Scriptures as originally given by God, divinely inspired, 
        infallible, entirely trustworthy; and the supreme authority in all matters of 
        faith and conduct...<br/><br/>
        One God , eternally existent in three persons, Father, Son, and Holy Spirit...<br/><br/>
        Our Lord Jesus Christ , God manifest in the flesh, His virgin birth, His sinless human 
        life, His divine miracles, His vicarious and atoning death, His bodily resurrection, 
        His ascension, His mediatorial work, and His Personal return in power and glory...<br/><br/>
        The Salvation of lost and sinful man through the shed blood of the Lord Jesus Christ by 
        faith apart from works, and regeneration by the Holy Spirit...<br/><br/>
        The Holy Spirit , by whose indwelling the believer is enabled to live a holy life, 
        to witness and work for the Lord Jesus Christ...<br/><br/>
        The Unity of the Spirit of all true believers, the Church, the Body of Christ...<br/><br/>
        The Resurrection of both the saved and the lost; they that are saved unto the 
        resurrection of life, they that are lost unto the resurrection of damnation.
      </p>
    </div>

  </div>
</section>

<section id="registration">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">Registration</h2>
      <p class="text-center wow fadeInDown medium-font">
        ASIA CONGRESS OF ETHICAL LEADERSHIP AND AUTHENTIC DISCPLESHIP<br/><br/>
        Join us at Bandung (30TH AUGUST – 1ST SEPTEMBER 2016)<br/><br/><br/>
        <%= link_to "Registration", new_user_registration_path, :class => "btn btn-primary btn-lg" %>
        
      </p>
    </div>

  </div>
</section>

<section id="get-in-touch">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">Contact Us</h2>
      <p class="text-center wow fadeInDown medium-font">
        EMAIL &nbsp;: &nbsp;aeaga2016@gmail.com<br/>
        Phone &nbsp;: &nbsp;+62<br/>
        Office Hours &nbsp;: &nbsp;8:00am – 4:00pm (Tuesday – Friday)<br/>
      </p>
    </div>
  </div>
</section><!--/#get-in-touch-->
