<% content_for :javascript_stylesheet_includes do %>
  <%= javascript_include_tag "bootstrap-datepicker", "bootstrap-timepicker" %>
  <%= stylesheet_link_tag "bootstrap-datepicker" %>
<% end %>

<% if @shuttle_bus.errors.any? %>
  <div class="alert alert-danger alert-dismissable" group="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4><%= pluralize(@shuttle_bus.errors.count, "error") %> prohibited this group from being saved:</h4>
    <ul>
    <% @shuttle_bus.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :shuttle_bus_type, "Shuttle Bus Type *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <div class="radio">
      <label>
        <%= f.radio_button :shuttle_bus_type, "arriving", :checked => true %> Arriving
      </label>&nbsp;&nbsp;&nbsp;&nbsp;
      <label>
        <%= f.radio_button :shuttle_bus_type, "departing" %> Departing
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :name, "Name *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :name, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :pick_up_date, "Date *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :pick_up_date, :class => "form-control pick_up_date" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :pick_up_time, "Time *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :pick_up_time,
                     :value => @shuttle_bus.try(:pick_up_time).try(:strftime, "%H:%M"),
                     :class => "form-control departing-time" %>
  </div>
</div>
<div class="form-group margin_b_30">
  <%= f.label :airport_name, "Airport Name *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :airport_name, :class => "form-control" %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.pick_up_date').datepicker({
      format: 'yyyy-mm-dd',
        autoclose: true,
        orientation: 'auto bottom'
    })
  });
</script>
