<div class="col-md-12 content">
  <h2>Shuttle Bus</h2>
  <div class="col-md-12">
    <p><%#= raw msg_flash(flash) %></p>
    <p>
      <%= link_to "Add new shuttle_bus", new_admin_shuttle_bus_path %>
    </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Time</th>
          <th>Airport Name</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @shuttle_buses.each_with_index do |shuttle_bus, x| %>
          <tr>
            <th scope="row"><%= @no+x+1 %></th>
            <td><%= shuttle_bus.name %></td>
            <td>
              <%= shuttle_bus.try(:pick_up_date).try(:strftime, "%Y %b %d") %>&nbsp;-&nbsp;
              <%= shuttle_bus.try(:pick_up_time).try(:strftime, "%H:%M") %>
            </td>
            <td><%= shuttle_bus.airport_name %></td>
            <td>
              <%= link_to "Edit", edit_admin_shuttle_bus_path(shuttle_bus), :class => "btn btn-success" %>
              <%= link_to "Delete", admin_shuttle_bus_path(shuttle_bus.id ), :method => :delete,
                                    data: {:confirm => "Are you sure?"}, :class => "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="admin-row">
      <%= paginate @shuttle_buses, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>

    </div>
  </div>
</div>
