<% content_for :javascript_stylesheet_includes do %>
  <%= javascript_include_tag "bootstrap-datepicker", "bootstrap-timepicker" %>
  <%= stylesheet_link_tag "bootstrap-datepicker" %>
<% end %>

<section class="registration">
  <div class="user container">
    <div class="row">
      <%= render :partial => "/shared/user_side_menu" %>
      <div class="col-sm-9 content">
        <div class="box no-margin-b padding_b_10">
          <h2>Travel Informations</h2>
          <%= form_for(@pick_up_schedule, :url => users_update_pick_up_schedule_path,
                       html: {  class: "form-horizontal", :method => :put } ) do |f| %>
            <div class="row box margin_b_30">
              <% @need_shuttle_bus = @user.pick_up_schedule.nil? ? false : true  %>
              <div class="form-group">
                <div class="col-sm-12">
                  <label>
                    <%= radio_button_tag 'need_shuttle_bus', false, @need_shuttle_bus == false,
                                         :class => "need_shuttle_bus" %>
                    &nbsp;I do not need any airport transfer
                  </label>
                </div>
                <div class="col-sm-12">
                  <label>
                    <%= radio_button_tag 'need_shuttle_bus', true, @need_shuttle_bus == true,
                                         :class => "need_shuttle_bus" %>
                    &nbsp;I need airport transfer
                  </label>
                </div>
              </div>
              <div class="form-group <%= hide_pick_up_schedule(!@need_shuttle_bus) %>" id="temp_button">
                <div class="col-sm-12">
                  <%= f.submit "Update", :class => "btn btn-success" %>
                </div>
              </div>
            </div>

            <div id="pick_up_form" class="<%= hide_pick_up_schedule(@need_shuttle_bus) %>">
              <% if @pick_up_schedule.errors.any? %>
                <div class="alert alert-danger alert-dismissable" group="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4><%= pluralize(@pick_up_schedule.errors.count, "error") %> prohibited this group from being saved:</h4>
                  <ul>
                  <% @pick_up_schedule.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="col-md-6 margin_b_30 ">
                <div class="form-group">
                  <h4>Arriving Schedule</h4>
                </div>
                <div class="form-group">
                  <%= f.label :arriving_date, "Arriving Date *", :class => "col-sm-12 control-label" %>
                  <div class="col-sm-12">
                    <%= f.text_field :arriving_date, :class => "form-control arriving-date" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :arriving_time, "Arriving Time *", :class => "col-sm-12 control-label" %>
                  <div class="col-sm-12">
                    <%= f.text_field :arriving_time,
                                      :value => @pick_up_schedule.try(:arriving_time).try(:strftime, "%H:%M"),
                                      :class => "form-control arriving-time" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :arriving_flight_number, "Flight No *", :class => "col-sm-12 control-label" %>
                  <div class="col-sm-12">
                    <%= f.text_field :arriving_flight_number, :class => "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :arriving_airport, "Arriving Airport *", :class => "col-sm-12 control-label" %>
                  <div class="col-sm-12">
                    <%= f.select :arriving_airport, airport_list, {},:class => "form-control" %>
                  </div>
                </div>
              </div>
              <div class="col-md-6 margin_b_30">
                <div class="form-group">
                  <h4>Departing Schedule</h4>
                </div>
                <div class="form-group">
                  <%= f.label :departing_date, "Departing Date *", :class => "col-sm-12 control-label" %>
                  <div class="col-sm-12">
                    <%= f.text_field :departing_date, :class => "form-control departing-date" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :departing_time, "Departing Time *", :class => "col-sm-12 control-label" %>
                  <div class="col-sm-12">
                    <%= f.text_field :departing_time,
                                     :value => @pick_up_schedule.try(:departing_time).try(:strftime, "%H:%M"),
                                     :class => "form-control departing-time" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :departing_flight_number, "Flight No *", :class => "col-sm-12 control-label" %>
                  <div class="col-sm-12">
                    <%= f.text_field :departing_flight_number, :class => "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :departing_airport, "Departing Airport *", :class => "col-sm-12 control-label" %>
                  <div class="col-sm-12">
                    <%= f.select :departing_airport, airport_list, {},:class => "form-control" %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <%= f.submit "Update", :class => "btn btn-success" %>
                </div>
              </div>
              <%= raw(must_fill_text) %>
            </div>
          <% end %>
        </div>
        <div class="row box <%= hide_pick_up_schedule(@need_shuttle_bus) %>" id ="shuttle_buses_information">
          <h2>Shuttle Buses Information</h2><br />
          <% @shuttle_buses.each do |shuttle_bus_type, shuttle_bus_list| %>
            <h4>
              <%= shuttle_bus_type.titleize %> -
              <%= instance_variable_get("@#{shuttle_bus_type}_date").try(:strftime, "%d %B %Y") %>
            </h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Time</th>
                  <th>Airport Name</th>
                </tr>
              </thead>
              <tbody>
                <% shuttle_bus_list.each_with_index do |shuttle_bus, x| %>
                  <tr>
                    <th scope="row"><%= x+1 %></th>
                    <td><%= shuttle_bus.name %></td>
                    <td>
                      <%= shuttle_bus.try(:pick_up_time).try(:strftime, "%H:%M") %>
                    </td>
                    <td><%= shuttle_bus.airport_name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table><br /><br />
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $('.departing-date').datepicker({
      format: 'yyyy-mm-dd',
        autoclose: true,
        orientation: 'auto bottom'
    })

    $('.arriving-date').datepicker({
      format: 'yyyy-mm-dd',
        autoclose: true,
        orientation: 'auto bottom'

    })
    $('input[type=radio][name=need_shuttle_bus]').on('change', function() {
      if($("input[type='radio'][name='need_shuttle_bus']:checked").val() == 'true'){
        $("#temp_button").hide()
        $("#shuttle_buses_information").show()
        $("#pick_up_form").show()
      }else{
        $("#temp_button").show()
        $("#shuttle_buses_information").hide()
        $("#pick_up_form").hide()
      }
    })
    
    
  });
</script>


