<div class="col-md-12 content">
  <h2>User Types</h2>
  <div class="col-md-12">
    <p><%#= raw msg_flash(flash) %></p>
    <p>
      <%= link_to "Add new user_type", new_admin_user_type_path %>
    </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @user_types.each_with_index do |user_type, x| %>
          <tr>
            <th scope="row"><%= @no+x+1 %></th>
            <td><%= user_type.name %></td>
            <td>
              <%= link_to "Edit", edit_admin_user_type_path(user_type), :class => "btn btn-success" %>
              <%= link_to "Delete", admin_user_type_path(user_type.id ), :method => :delete,
                                    data: {:confirm => "Are you sure?"}, :class => "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="admin-row">
      <%= paginate @user_types, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>

    </div>
  </div>
</div>
