<section class="registration">
  <div class="user container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= flash_type(key) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= value %>
      </div>
    <% end %>
    <div class="row">
      <%= render :partial => "/shared/user_side_menu" %>
      <div class="col-sm-9 content">
        <div class="box">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                    html: { method: :put, :class => "form-horizontal" }) do |f| %>
            <%= devise_error_messages! %>

            <%#*<div class="form-group">%>
              <%#= f.label :user_type_id, "User Type *", :class => "col-sm-12 control-label" %>
              <%#*<div class="col-sm-12">%>
                <%# UserType.all.each do |user_type| %>
                  <%#*<div class="radio">%>
                    <%#*<label>%>
                      <%#= f.radio_button :user_type_id, user_type.id %>
                      <%#= user_type.name %>
                    <%#*</label>%>
                  <%#*</div>%>
                <%# end %>
              <%#*</div>%>
            <%#*</div>%>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="form-group">
                <div class="col-sm-12">
                  Currently waiting confirmation for: <%= resource.unconfirmed_email %>
                </div>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.label :title, "Title *", :class => "col-sm-12 control-label" %>
              <div class="col-sm-12">
                <%= f.select :title, list_title, {},:class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :first_name, "First Name *", :class => "col-sm-12 control-label" %>
              <div class="col-sm-12">
                <%= f.text_field :first_name, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :last_name, "Last Name *", :class => "col-sm-12 control-label" %>
              <div class="col-sm-12">
                <%= f.text_field :last_name, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :phone,  raw("Cell/Mobile Number <span class=small-font>(Country Code + Phone Number, eg : +6285612345678)</span>"), :class => "col-sm-12 control-label" %>
              <div class="col-sm-12">
                <%= f.text_field :phone, :class => "form-control" %>
              </div>
            </div>
            <% if @user.country.name == "Indonesia" %>
              <%= hidden_field_tag "user[passport_number]", "-"  %>
            <% else %>
              <div class="form-group">
                <%= f.label :passport_number, "Passport Number *", :class => "col-sm-12 control-label" %>
                <div class="col-sm-12">
                  <%= f.text_field :passport_number, :class => "form-control" %>
                </div>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.label :age, "Age *", :class => "col-sm-12 control-label" %>
              <div class="col-sm-12">
                <%= f.text_field :age, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :country_id, "Country of Citizenship", :class => "col-sm-12 control-label" %>
              <div class="col-sm-12"><%= @user.try(:country).try(:name) %></div>
            </div>
            <%#*<div class="form-group">%>
              <%#*<div class="col-sm-12">%>
                <%#= f.label :password, :class => "control-label" %>
                <%#*<i>(leave blank if you don't want to change it)</i>%>
              <%#*</div>%>
              <%#*<div class="col-sm-12">%>
                <%#= f.password_field :password, :class => "form-control", autocomplete: "off" %>
              <%#*</div>%>
            <%#*</div>%>
            <%#*<div class="form-group">%>
              <%#= f.label :password_confirmation, :class => "col-sm-12 control-label" %>
              <%#*<div class="col-sm-12">%>
                <%#= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
              <%#*</div>%>
            <%#*</div>%>
            <%#*<div class="form-group">%>
              <%#*<div class="col-sm-12">%>
                <%#= f.label :current_password, :class => "control-label" %>
                <%#*<i>(we need your current password to confirm your changes)</i>%>
              <%#*</div>%>
              <%#*<div class="col-sm-12">%>
                <%#= f.password_field :current_password, :class => "form-control", autocomplete: "off" %>
              <%#*</div>%>
            <%#*</div>%>
            <div class="form-group">
              <%= f.label :gender, "Gender *", :class => "col-sm-12 control-label" %>
              <div class="col-sm-12">
                <label class="radio-inline">
                  <%= f.radio_button :gender, "female" %> Female
                </label>
                <label class="radio-inline">
                  <%= f.radio_button :gender, "male" %> Male
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.submit "Update", :class => "btn btn-success" %>
              </div>
            </div><%= raw(must_fill_text) %>
          <% end %>

          <%#= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</section>
