<div class="col-md-3 padding_t_20">
  <div class="col-md-12 padding_t_b_5">
    <%= link_to "Edit Profile", edit_user_registration_path,
                class: active_side_menu("registrations") %>
  </div>
  <div class="col-md-12 padding_t_b_5">
    <%= link_to "Register Event", register_event_user_path,
                class: active_side_menu(["register_event", "save_register_event"]) %>
  </div>
  <div class="col-md-12 padding_t_b_5 active">
    <%= link_to "Change Password", edit_user_path,
                class: active_side_menu(["edit", "update_password"]) %>
  </div>
  <% if current_user.is_indonesian? %>
    <div class="col-md-12 padding_t_b_5">
      <%= link_to "Payment Confirmation", new_users_payment_confirmation_path,
                   class: active_side_menu('payment_confirmations') %>
    </div>
  <% end %>
  <div class="col-md-12 padding_t_b_5">
    <%= link_to "Travel Informations", users_edit_pick_up_schedule_path,
                class: active_side_menu('pick_up_schedule') %>
  </div>
  <% if current_user.is_team_lead? %>
    <div class="col-md-12 padding_t_b_5">
      <%= link_to "Register Member", users_registrants_path, 
                  class: active_side_menu("registrants") %>
    </div>
  <% end %>
  <% unless current_user.payment_method_is_transfer_bank? %>
    <div class="col-md-12 padding_t_b_5">
      <%= link_to "Upload Ticket", edit_users_ticket_path(current_user.ticket || 0),
                  class: active_side_menu('tickets') %>
    </div>
  <% end %>
</div>